{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>Add New Entry</h2>
{% endblock page_header %}

{% block content %}

    <div class="alert alert-info" role="alert">
        Topic: <a href="{% url 'learning_logs:topic' topic.id %}" class="text-decoration-none text-primary fw-bold"><strong>{{ topic }}</strong></a>
    </div>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
        <button name="submit" class="btn btn-primary">Add entry</button>
        <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock content %}
